{% extends 'base.html.twig' %}

{% block body %}
    <table>
    <tr id="first-row">
        <th>Date and hour</th>
        <th>What</th>
        <th>By/To</th>
    </tr>
    {% for log in logs %}
        <tr>
            <td>{{log.date|date('Y-m-d H:i:s')}}</td>
            <td>{{log.what}}</td>
            <td>
                {% if log.byWho is null %}
                    ~deleted~
                {% else %}
                    {{log.byWho.username}}
                {% endif %}
            </td>
            <td><a href="/ticket/{{log.ticket.id}}">click to see</a></td>
        </tr>
    {% endfor %}
    </table>
    
{% endblock %}
