<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{user.username}}, {{subject}}</h1>
    <h2>click here to see the ticket: <a href="{{kernel}}/ticket/{{ticketId}}">HERE</a></h2>
</body>
</html>